.Navbar-header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 1em 0;
    margin-bottom: 2em;
}

.Navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 675px) and (max-width: 975px) {
	.Navbar-container {
        flex-direction: column;
    }

    .Navbar-container {
        flex-direction: column;
    }
}

@media (max-width: 675px) {
    .Navbar-container {
      flex-direction: column;
    }

    .Navbar-container {
        flex-direction: column;
      }
}

.Navbar-site-title {
    display: flex;
    align-items: center;
}

.Navbar-site-title__logo {
    width: 40px;
    height: 40px;
    display: block;
    fill: inherit;
    flex-shrink: 0;
    backface-visibility: hidden;
    margin-right: 10px;
}

@media (min-width: 675px) and (max-width: 975px) {
	.Navbar-site-title__logo{
        margin-bottom: .5em;
    }
}

@media (max-width: 675px) {
    .Navbar-site-title__logo{
        margin-bottom: .5em;
    }
}

.Navbar-list {
    display: flex;
    justify-content: center;
}
  
.Navbar-list__item {
    margin-left: 2em;
}
  
.Navbar-list__link {
    color: #7e7e7e;
    padding: .25em 0;
}
  
.Navbar-list__link:hover,
.Navbar-list__link:focus {
    color: #f79469;
}

@media (max-width: 674px) {
    .Navbar-list {
        flex-direction: column;
    }

    .Navbar-list__link {
        margin: .5em 0;
    }
} 