@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');


*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  /*This defines what 1rem is | 1rem = 10px (10px/16px = 62.5%) */
  font-size: 62.5%;  
}

body {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: black;
}

input[type=text] {
  font-family: 'Mulish', sans-serif;
}

/* LAYOUT */

.container {
  width: 90%;
  margin: 0 auto;
  /* background: #777; */
}

/* COLORS */

.color-primary {
  color: red;
}

.color-primary-light {
  color: rgb(182, 113, 113);
}

.color-primary-dark {
  color: rgb(82, 11, 11);
}

.color-secondary {
  color: yellow;
}
.color-tertiary {
  color: blue;
}

/* Background colors */
.background-color-primary {
  
}

/* Typograpghy colors */
.color-grey-light-1 {
  color: #f7f7f7;
} 
.color-grey-dark {
  color: #777;
}
.color-white {
  color: #fff;
}
.color-black {
  color: #000;
}



/* TYPOGRAPHY */


/* primary */

.heading-primary {

}

.heading-primary--big {

}

.heading-primary--main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}

.heading-primary--sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
}

/* secondary */

.heading-secondary--main {

}

.heading-secondary--sub {
}

/* tertiary */

.heading-tertiary--main {

}

.heading-tertiary--sub {

}

/* BUTTONS */

.btn {
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 4px;  
  line-height: 1;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 400;
  color: white;
  text-align: center;
  cursor: pointer;
}

.btn-primary-filled {
  height: 4rem;
  padding: 0 2.5rem;
  font-size: 1.6rem;
  background: rgb(225, 98, 89);
}

.btn-secondary-unfilled {
  height: 36px;
  font-size: 1.4rem;
  color: black;
  border: 1px solid rgba(0,0,0,.15);
}